.card-container2{
    /* padding: 30px; */
    margin: 15px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px -5px !important;
    transition: 0.3s;
    animation: ease-in-out;
    background-color: rgb(30, 29, 29) ;
    color: white;
    border-radius: 5px;
    min-height: 100px;
    display: flex;
    width: 300px;
    
}

.card-container2:hover{
    background-color: rgb(55, 54, 54);
    transform: scale(1.05);
    box-shadow: 15px;
    cursor: pointer;
}

.image-container2{
    /* overflow: hidden; */
    height: auto;
    border-radius: 5px;
    max-width: 100px;
    min-width: 100px;

}

.img12 {
    height: auto;
    width: 100%;
}

.card-content2{
    margin:1rem;

}

.recommended-container2{
    display: flex;
    flex-direction: row;
}

.song-title2 {
   white-space: initial;
   display: flex;
   flex-wrap: wrap;
   max-width: 150px;
}

.song-title2 h2 {
    font-size: 16px;
    width: 150px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}