@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    background: linear-gradient( #000000 50%, #49236D 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.logo {
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    color: white;
}

.app-desc {
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-size: 2.8rem;
    opacity: 1;
    text-align: center;
}



/* middle container */

/* .mainContainer {
    position: relative;
    color: white;
} */

.discImg {
    position: fixed;
    height: 80vh;
    max-width: 30vh;
    width:30vh;
    margin-top: 2vh;
    left: 0;
}


/* scrolling words css*/
.mid-div{
	width: 100%;
	position: relative;
    padding: 20vh;
	margin: 0 auto;
	margin-left: 0%;
    background-color: transparent;
    
}
.sentence{
 font-size: 2.8rem;
 display: inline-flex;
 padding: 2vh;
}
#motto{
    font-family: 'Raleway', sans-serif;
	color:ghostwhite;
	font-size: 2.8rem;
	font-weight: 200;
    letter-spacing: 1.2px;
    text-align: center;

    
  	
}



.words-rotate span{
    font-family: 'Raleway', sans-serif;
	overflow:hidden;
    padding: auto;
    font-weight: 400;
    font-size: 3rem;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;

}
.words-rotate span{
	-webkit-animation:  rotateWord 18s linear infinite;
	        animation:  rotateWord 18s linear infinite;
}
.words-rotate span:nth-child(1) {
	color:  #FFED00;
}
.words-rotate span:nth-child(2) { 
	color: #FF6E00;
	-webkit-animation-delay: 3s; 
	        animation-delay: 3s; 
}
.words-rotate span:nth-child(3) { 
	color: #0FB402;
	-webkit-animation-delay: 6s; 
	        animation-delay: 6s; 
}
.words-rotate span:nth-child(4) {
	color: #FFED00; 
	-webkit-animation-delay: 9s; 
	        animation-delay: 9s; 
}
.words-rotate span:nth-child(5) {
	color: #FF6E00;
	-webkit-animation-delay: 12s; 
	        animation-delay: 12s; 
}
.words-rotate span:nth-child(6) {
	color: #0FB402;
	-webkit-animation-delay: 15s; 
	        animation-delay: 15s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    25% { opacity: 1; -webkit-transform: translateY(0px); }
	27% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}


/* music notes */

.musicnotes {
    display: inline;
    max-width: 100%;

  }
  
  .note-1,
  .note-2,
  .note-3,
  .note-4,
  .note-5,
  .note-6{
    position:absolute;
    display:flex;
    flex-direction: row;
    animation: notes 15s infinite linear;
    font-size: 25px;
    opacity: 0;
    color:ghostwhite;
  }
  
  .note-1 {
    top: 50px;
    left: 30%;
    animation-delay: 1s;
  }
  
  .note-2 {
    top: 50px;
    right: 60%;
    animation-delay: 1s;
  }
  
  .note-3 {
    top: 60px;
    right: 25%;
    animation-delay: 1.5s;
  }
  
  .note-4 {
    top: 50px;
    right: 10%;
    animation-delay: 1.9s;
  }
  
  .note-5 {
    top: 30px;
    right: 50%;
    animation-delay: 2s;
  }
  
  .note-6 {
    top: 30px;
    right: 30%;
    animation-delay: 2.1s;
  }
  
  @keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    80% {
      opacity: 0;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(100%, -100%);
      opacity: 0;
    }
  }

/* button */

.get-started-btn {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
}

.glow-on-hover {
    font-family: 'Raleway', sans-serif;
    width: 30%;
    height: 2em;
    border: none;
    outline: none;
    color: #fff;
    background:transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 1.2rem;
    
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/*footer*/

.homePage-footer {
font-family: 'Raleway', sans-serif;
font-size: 1rem;
color: ghostwhite;
position: relative;
margin-top: 5vh;
bottom: 0;
height: 20px;
max-height: 20px;
text-align: center;
}


