.english-lyric {
    color: red
  }
  
  .spanish-lyric {
    color: orange
  }
  
  #myDIV {
    height: 500px;
    width: auto;
    overflow-y: scroll;
  }
  
  #content {
    height: 2000px;  
    transition: all 0.2s;
  }