.card-container{
    /* padding: 30px; */
    width: 300px;
    margin: 15px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px -5px !important;
    transition: 0.3s;
    animation: ease-in-out;
    background-color: rgb(30, 29, 29) ;
    color: white;
    border-radius: 5px;
    min-height: 295px;
    
}

.card-container:hover{
    background-color: rgb(55, 54, 54);
    transform: scale(1.05);
    box-shadow: 15px;
}

.image-container{
    /* overflow: hidden; */
    height: auto;
    border-radius: 5px;

}

.img1 {
    height: auto;
    width: 100%;
}

.card-content{
    margin:1rem;
}

.recommended-container{
    display: flex;
    flex-direction: row;
}

.song-title {
   white-space: initial;
}