@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700"); 


body {
    background: linear-gradient( #000000 50%, #49236D 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}


.logo {
    padding-top: 4%;
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    color: white;
    font-size: 2.5rem;
}

/*navbar */

.navbar .navbar-brand {
    font-size: 30px;
  }
  .navbar .nav-item {
    padding: 10px 20px;
  }
  .navbar .nav-link {
    font-size: 20px;
    margin-left: 10px;
  }
  .fa-bars {
    color: #007bff;
    font-size: 30px;
  }
  


 .dashForm {
    align-items: center;
    margin: 0;
    padding: 0;
    
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    display: inline;
    width: 50vh;
    height: 100vh;
    justify-content: center;
    margin-block: 50px;
    
}
/* 
label {
    font-size: 1.5rem;
    margin: 0px;
    font-weight :100 ;
    color: ghostwhite;
        
}  */

.fromlabel {
    display: inline; 
    font-size:1.2rem ; 
    width: 1em;
    margin: 3em 1em 0em 1.3em;
    padding: 0;
}

.tolabel {
    display: inline; 
    font-size:1.2rem ; 
    width: 1em;
    margin: 3em 1em 0em 1em;
    padding: 0;
}

.chooselang {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    
    
}

#fromLanguage{
    padding: 1em;
    margin: 4.5em 0em 0em 2.5em;
}

#toLanguage{
    padding: 1em;
    margin: 4.5em 2em 0em 0.5em;
}


input {
    width: 30vh;
    height: 5vh;
    border-radius: 30px;
    margin-top: 5%;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 2%;
    background-color: #000;
    color:ghostwhite;
    border: 2px solid #3d1e5c ;
    text-align: center;
}

select {
    
    font-size: 0.7rem;
    border-radius: 50px;
    background-color: #000;
    color:ghostwhite;
    border: 2px solid #3d1e5c ;
    text-align: center;
    
    
}
option {
    font-size: 1rem;
    
}

.btn-submit{
    
    font-size: 1rem;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: #000;
    color:ghostwhite;
    border: 2px solid #3d1e5c ;
    text-align: center;
    width: 100px;
    margin-top: 5%;
    
}

.btn-div{
    display: flex;
    justify-content: center;

} 

.grid-container {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    gap: 24px;
  }
  
.grid-item {
background-color: #333;

display: flex;
flex-direction: column;
}
  






